.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(37, 37, 37);
    color: rgb(197, 197, 197);
    justify-items: center;
}


.footer>div>p{
    margin: 1.5vmax;
}
.footer>div>p>a{
    color:rgba(255, 255, 255, 0.705); 
    text-decoration: none;
    cursor: pointer;
    margin: 1vmax;
    fill: rgba(255, 255, 255, 0.705);
}
.profile:hover{
    box-shadow:0px 6px 15px rgba(53, 53, 53, 0.363);
    transform: translateY(-0.4vmax); 
    color: rgb(94, 94, 94);
}
.footer>div>p>a:hover{
    color: rgb(94, 94, 94);
    fill: rgb(94, 94, 94);
}


